@charset "utf-8";

body{
  
}

.header{
  background-color: #F28BB3;
  height: 80px;
  text-align: center;
  color: #FFF;
  width:980px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrap{
  height: 800px;
  text-align: center;
  color: #FFF;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.main{
  background-color: #FCE9F1;
  height: 800px;
  width: 680px;
  text-align: center;
  color: #FFF;
  float: left;
}

.sidebar-container{
  background-color: #8BF28C;
  height: 800px;
  width: 300px;
  text-align: center;
  color: #FFF;
  float: left;
}

.sidebar{
  width: 270px;
  height: 150px;
  background-color: #8BB2F2;
  margin: 15px auto;
}

.sidebar-title{
  color: #FFF;
}

.footer{
  background-color: #EB5264;
  height: 80px;
  width: 980px;
  text-align: center;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
}